@model BrandCreateDto
<div class="content-wrapper">
    ----------------------
    
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add Brand</h4>
                    <form method="post" class="forms-sample">
                        <div class="form-group">
                            
                            <input asp-for="Name" class="form-control" placeholder="brand name">
                            <span asp-validation-for="Name"></span>
                            
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <a asp-controller="Brand" asp-action="Index" class="btn btn-light">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>