@using Ecommerce.MVC.Areas.SuperAdmin.Models.Product
@model ProductViewModel


<div class="content-wrapper">
    ----------------------
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body" style="border:1px solid #ccc;">
                    <h4 class="card-title">Add Product</h4>
                    <form method="post" class="forms-sample" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Code</label>
                            <input asp-for="ProductCode" class="form-control" id="CodeInput" placeholder="product code" />
                            <span id="CodeValidation" class="text-danger"></span>
                            <br>
                            <label>Name</label>
                            <input asp-for="Name" class="form-control" style="border:1px solid #ccc;" placeholder="product name">
                            <span asp-validation-for="Name"></span>
                            <br>
                            <label>Image File</label>
                            <input asp-for="ImageFile" type="file" class="form-control" />
                            <span asp-validation-for="ImageFile"></span>
                            <br>
                            <label>Price</label>
                            <input asp-for="Price" type="number" step="0.01" class="form-control" style="border:1px solid #ccc;" placeholder="Price">
                            <span asp-validation-for="Price"></span>
                            <br>

                            <input asp-for="Description" class="form-control" style="border:1px solid #ccc;" placeholder="Description">
                            <span asp-validation-for="Description"></span>

                            <label>Gender</label>
                            <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control" style="border:1px solid #ccc;">
                                <option value="">-- Cins seçin --</option>
                            </select>
                            <span asp-validation-for="Gender"></span>
                            <br>
                            <label>Brand</label>
                            <select asp-for="BrandId" asp-items="Model.ListBrand" class="form-control" style="border:1px solid #ccc;">
                                <option value="">-- Brand seçin --</option>
                            </select>
                            <span asp-validation-for="BrandId"></span>
                            <br>
                            <label>Category</label>
                            <select asp-for="CategoryId" asp-items="Model.ListCategory" class="form-control" style="border:1px solid #ccc;">
                                <option value="">-- Kateqoriya seçin --</option>
                            </select>
                            <span asp-validation-for="CategoryId"></span>
                            <br>
                            
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <a asp-controller="Product" asp-action="Index" class="btn btn-light">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $("#CodeInput").on("keyup", function () {
            var code = $(this).val();

            if (code.length > 0) {
                $.getJSON('@Url.Action("CheckCode", "Product", new { area = "SuperAdmin" })',
                    { code: code },
                    function (data) {
                        if (data.exists) {
                            $("#CodeValidation").text("Bu məhsul artıq mövcuddur!");
                        } else {
                            $("#CodeValidation").text("");
                        }
                    });
            }   
        });
    </script>
}


